//variables
$black: #000;
$white: #fff;
$green: #7cba01;
$lightgreen: #c5e09b;
$fsize: 15px;
$lightgray:#f2f2f2;


//devices breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;

//mixions 
@mixin sitefont {
  font-family: "Poppins", sans-serif;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: $fsize;
  line-height: $fsize + 10;
  letter-spacing: 0;
  font-weight: 400;
}

@mixin transition {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@mixin shadowbot {
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}





//mixins for devices responsive
@mixin minMax($min, $max){
  @media (min-width:$min) and (max-width:$max){
    @content;
  }
};

@mixin min($min){
  @media (min-width:$min){
    @content;
  }
};

@mixin max($max) {
  @media (max-width:$max){
    @content;
  }
};