@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 400;
  background: #f2f2f2;
}

body a {
  text-decoration: none;
}

body ul, body li {
  list-style: none;
}

.fsbold {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.flight {
  font-weight: 300;
}

.fbold, .container h1, footer h1, .container .masterRow h2, footer .masterRow h2 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.whitecontainer, .container .masterRow .leftCol, footer .masterRow .leftCol, .container .masterRow .rightCol .row .spaceItemcol, footer .masterRow .rightCol .row .spaceItemcol {
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
  border-radius: 5px;
}

.container, footer {
  width: 1440px;
  margin: 0 auto;
}

.container h1, footer h1 {
  font-size: 30px;
  text-align: center;
  padding: 25px 0;
}

.container .masterRow, footer .masterRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.container .masterRow h2, footer .masterRow h2 {
  font-size: 18px;
}

.container .masterRow .leftCol, footer .masterRow .leftCol {
  width: 20%;
  padding-bottom: 0;
}

.container .masterRow .leftCol .filterCol h3, footer .masterRow .leftCol .filterCol h3 {
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 0;
  margin-bottom: 15px;
}

.container .masterRow .leftCol .filterCol ul, footer .masterRow .leftCol .filterCol ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .masterRow .leftCol .filterCol ul li, footer .masterRow .leftCol .filterCol ul li {
  width: 50%;
}

.container .masterRow .leftCol .filterCol ul li a, footer .masterRow .leftCol .filterCol ul li a {
  background: #c5e09b;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
  color: #000;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.container .masterRow .leftCol .filterCol ul li a:hover, footer .masterRow .leftCol .filterCol ul li a:hover {
  background: #7cba01;
}

.container .masterRow .rightCol, footer .masterRow .rightCol {
  width: 76%;
}

.container .masterRow .rightCol .row, footer .masterRow .rightCol .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .masterRow .rightCol .row .spaceItemcol, footer .masterRow .rightCol .row .spaceItemcol {
  width: 19.9%;
  margin: 0 15px 15px 0;
}

.container .masterRow .rightCol .row .spaceItemcol h4, footer .masterRow .rightCol .row .spaceItemcol h4 {
  padding-bottom: 15px;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}

.container .masterRow .rightCol .row .spaceItemcol .spaceItemFigure, footer .masterRow .rightCol .row .spaceItemcol .spaceItemFigure {
  width: 100%;
}

.container .masterRow .rightCol .row .spaceItemcol ul li, footer .masterRow .rightCol .row .spaceItemcol ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5px;
}

.container .masterRow .rightCol .row .spaceItemcol ul li span:first-child, footer .masterRow .rightCol .row .spaceItemcol ul li span:first-child {
  width: 75%;
}

footer {
  background: #c5e09b;
  padding: 20px 0;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
}

footer p {
  text-align: center;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style.css.map */